mat-card {
  margin: 0px 20px;
  margin-bottom: 15px;
}

form {
  display: flex;
  align-items: flex-end;

  .form-control {
    margin-right: 20px;

    &.btn {
      padding-bottom: 17.5px;
    }
  }
}
