<mat-card>
  <mat-card-content>
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Coordinate (x,y)</mat-label>
          <input
            matInput
            placeholder="1,3"
            value=""
            formControlName="coordinate"
          />
          <mat-error *ngIf="isControlError('coordinate')">
            Coordinate needs to be in correct format (x,y)
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field>
          <mat-label>Direction</mat-label>
          <mat-select formControlName="direction">
            <mat-option *ngFor="let d of directions" [value]="d.key">
              {{ d.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isControlError('direction')">
            Direction is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control btn">
        <button mat-raised-button type="submit" color="primary">Place</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
