<mat-card>
  <mat-card-content>
    <div class="tabletop">
      <div class="y-axis" *ngFor="let locs of locationTables; let y = index">
        <div class="x-axis" *ngFor="let l of locs; let x = index">
          <!-- [{{ x }},{{ y }}] -->
          <img
            src="assets/img/robot.png"
            *ngIf="0 === l"
            class="direction-{{ locator.currentLocations[0]?.f }}"
          />
          <img
            src="assets/img/robot.png"
            *ngIf="1 === l"
            class="direction-{{ locator.currentLocations[1]?.f }}"
          />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
