.control-move {
  margin-top: 20px;

  .mat-card-content {
    display: flex;
    flex-direction: column;
  }
}

button {
  margin-left: auto;
  margin-right: auto;
}

.rotate-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  display: flex;
  justify-content: space-between;

  fa-icon {
    font-size: 22px;
  }
}
